@import "tailwindcss";

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0.8; }
  52% { opacity: 1; }
  53% { opacity: 0.9; }
  54% { opacity: 1; }
  70% { opacity: 1; }
  71% { opacity: 0.7; }
  72% { opacity: 1; }
}

.animate-flicker {
  animation: flicker 3s infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
